/* Estilos globales para todos los elementos */
* {
  box-sizing: border-box;
  color: rgb(200, 207, 97);
}



/* Define la animación para el desplazamiento desde la izquierda */
@keyframes slideInFromLeft {
0% {
    transform: translateX(-100%);
    opacity: 0;
}
100% {
    transform: translateX(0);
    opacity: 1;
}
}

/* Aplica la animación a todos los elementos <h1> */
h1.slide-in-from-left {
animation: slideInFromLeft 2s ease-in-out;
/* error de tamaño */
font-size: 85px;
display: flex;
align-items: center;
flex-direction: column;
margin-top: 250px;
text-shadow: -3px -3px 3px rgb(49, 24, 3), 3px -3px 3px rgb(49, 24, 3), -3px 3px 3px rgb(49, 24, 3), 3px 3px 3px rgb(49, 24, 3);
}

/* Aplica la animación a todos los elementos <h2> */
h2.slide-in-from-left {
animation: slideInFromLeft 2s ease-in-out;
}

/* Estilos generales del documento HTML */
html {
  scroll-behavior: smooth;
}

/* Tamaños de fuente para encabezados y párrafos */
h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.7em;
}
h3 {
  font-size: 2em;
}
p {
  font-size: 1.25em;
}

/* Elimina viñetas de las listas desordenadas */
ul {
  list-style: none;
}

/* Estilos generales del cuerpo del documento */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* Cambia el color de fondo del botón en el hover */
button:hover {
  background-color: rgb(49, 24, 3);
}

/* Color de acento personalizado */
.color-acento {
  color: #b99b76;
}

/* Estilos generales de los contenedores */
.container {
  max-width: 1400px;
  margin: auto;
}

/* Estilos del encabezado */
header {
  background-color: rgb(200, 207, 97);
}

header .logo {
  width: 200px;
  height: 100px;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 25px;
}

header a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

header a:hover {
  color: #441e04;
}

/* Estilos de la sección "hero" */
.hero {
  display: flex;
  flex-direction: column;
  height: 90vh;
  color: rgb(200, 207, 97);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("/imagenes/cafe-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 48px;
  background-color: #261c14;
}


/* Estilos de la sección "cafe" */
#cafe .container {
  text-align: center;
  padding: 200px 12px;
  background-color: #261c14;
}

/* Estilos de la sección "tipos" */
#tipos {
  background-color: #261c14;
  color: rgb(0, 0, 0);
  text-align: center;
}

#tipos.container {
  padding: 100px 0px;
}

#tipos h2 {
  margin-top: 0;
  font-size: 3em;
}

/* Estilos de las tarjetas informativas */
#tipos.carta {
  background-size: cover;
  background-position: center center;
  padding: 50px;
  margin: 20px;
  border-radius: 15px;
}

.carta p{
  margin-top: 155px;
  margin-left: 40px;
  margin-right: 40px;
}

/* Estilos de la sección "comohacercafe" */
#comohacercafe .container {
  text-align: center;
  padding: 200px 12px;
}
#comohacercafe{
  background-color: #261c14;
}

#comohacercafe li {
  margin: 15px 0px;
  font-weight: bold;
}

/* Estilos del pie de página */
footer {
  background-color: rgb(75, 34, 1);
}

footer p {
  margin: 0;
  padding: 12px;
  color: rgb(100, 100, 100);
}

footer .container {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
/* Estilo para la sección de comentarios y GIF */
.comentarios {
  display: flex; 
  align-items: center; 
  flex-wrap: wrap;
  background-color: #261c14;
}

/* Estilo para los comentarios */
#comentarios {
  flex: 1; 
  list-style: none;
  padding: 0;
  
}

.comentarios li {
  word-wrap: break-word; /* Evita que las palabras largas rompan el diseño */
  max-width: 400px; /* Establece un ancho máximo para los comentarios */
  margin: 5px 0;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 45px;
}

/* Estilo para el botón "Agregar Comentario" y el campo de entrada */
#agregarComentario {
  background-color: #261c14;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 20px; 
}

#agregarComentario:hover {
  background-color: #fae207;
  color: black;
}

#nuevoComentario {
  flex: 1; 
  height: 70px;
  font-size: 18px;
  border-radius: 3px;
  margin: 5px 0;
  margin-left: 20px; 
}

/* Estilo para el GIF */
.cafegif {
  width: 150px; 
  margin-left: 20px;  
  margin-top: 20px; 
}

.comentariosH{
  font-size: 25px;
}
.form {
  background-color: #261c14;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: rgb(200, 207, 97);
}

.form textarea,
.form input[type="text"],
.form input[type="email"] {
  width: 100%; 
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #3f2501;
}

.form button {
  background-color: #442304;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}


@media (max-width: 768px) {
  .comentarios {
    flex-direction: column; 
    align-items: center; 
  }

  #agregarComentario,
  #nuevoComentario {
    width: 100%; 
    margin: 5px 0;
  }
}



/* Estilos para pantallas más grandes (media queries) */
@media (min-width: 720px) {
  /* Estilos específicos para encabezado en pantallas más grandes */
  header {
      position: fixed;
      width: 100%;
      
  }

  header .container {
      flex-direction: row;
      justify-content: space-between;
  }

  header nav {
      flex-direction: row;
      padding-bottom: 0;
      padding-right: 20px;
  }

  /* Aumenta el tamaño de fuente para el título en la sección "hero" */
  #hero h1 {
      font-size: 5em;
  }

  /* Ajusta el diseño de la sección "cafe" en pantallas más grandes */
  #cafe .container {
      display: flex;
      justify-content: space-evenly;
  }

  #cafe .texto {
      width: 50%;
      max-width: 600px;
      text-align: initial;
      padding-left: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  #cafe h2 {
      margin-top: 0px;
  }

  /* Estilos específicos para la imagen de fondo en la sección "cafe" */
  .img-container {
      background-image: url("/imagenes/cafe-animado.gif");
      background-size: cover;
      background-position: center center;
      height: 800px;
      width: 700px;
  }

  /* Ajusta el diseño de la sección "tipos" en pantallas más grandes */
  #tipos .infoplus {
      display: flex;
      justify-content: center;
  }
  #tipos p {
      display: block;
      margin-bottom: 20px;
  }
  
  #tipos h2 {
      font-size: 4em;
  }

  #tipos h3 {
      margin-top: 20px;
      margin: 5px 0;
      border: 1px solid #ccc;
      padding: 10px;
      background-color: #5c3904;
      border-radius: 45px;

  }
  
  /* Estilos de las tarjetas en pantallas más grandes */
  #tipos .carta {
      padding: auto;
      margin: 100px;
      border-radius: 15px;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: 0;
      background-color: rgba(50, 50, 50, 0.5);
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
      width: auto;
      height: 600px;
      overflow: hidden;
  }
  


  /* Establece imágenes de fondo para cada tarjeta */
  .carta:nth-child(1) {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/imagenes/Cafe_comun.JPG");
  }
  .carta:nth-child(2) {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/imagenes/Ristretto.jpg");
  }
  .carta:nth-child(3) {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/imagenes/Espresso.jpg");
  }
  .carta:nth-child(4) {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/imagenes/Espresso_intenso.jpg");
  }
  .carta:nth-child(5) {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/imagenes/Espresso_lungo.jpg");
  }
  .carta:nth-child(6) {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/imagenes/Caffè_Crema.jpg");
  }
  .carta:nth-child(7) {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/imagenes/Espresso\ Macchiato.jpg");
  }
  .carta:nth-child(8) {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/imagenes/Cappuccino.png");
  }
  .carta:nth-child(9) {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/imagenes/Latte\ Macchiato.jpg");
  }
  .carta:nth-child(10) {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/imagenes/Flat\ white.jpg");
  }
  .carta:nth-child(11) {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/imagenes/Café\ Americano.jpg");
  }
  .carta:nth-child(12) {
      background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/imagenes/caffe-latte.jpg");
  }

  /* Estilos de la sección "comohacercafe" en pantallas más grandes */
  #comohacercafe {
      display: flex;
      display: block;
      justify-content: flex-start;
      align-items: center;
      background-image: url("/imagenes/tipos.jpg");
      background-repeat: no-repeat;
      background-size: 650px 900px;
      background-position: 0 0;
  }

  #comohacercafe .container {
      flex: 1;
      padding: 20px;
  }

  #comohacercafe ul {
      margin-left: 700px;
      text-align: left;
  }

/* Estilo para la sección de comentarios y GIF */
.comentarios {
  display: flex; 
  align-items: center; 
  background-color: #261c14;
}

/* Estilo para los comentarios */
#comentarios {
  flex: 1; 
  list-style: none;
  padding: 0;
  
}

.comentarios li {
  word-wrap: break-word; /* Evita que las palabras largas rompan el diseño */
  max-width: 400px; /* Establece un ancho máximo para los comentarios */
  margin: 5px 0;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #5c3904;
  border-radius: 45px;
}


/* Estilo para el botón "Agregar Comentario" y el campo de entrada */
#agregarComentario {
  background-color: #5c3904;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

#agregarComentario:hover {
  background-color: #fae207;
  color: black;
}

#nuevoComentario {
  flex: 1; 
  height: 70px;
  font-size: 18px;
  border-radius: 3px;
  margin: 5px 0;
}

/* Estilo para el GIF */
.cafegif {
  width: 200px; 
  margin-left: 20px; 
}

.comentariosH{
  font-size: 25px;
}

  /*seccion del formulario de contacto*/
  .form {
    background-color: #261c14; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    text-align: center;
  }
  .form label {
    display: block; 
    margin-top: 10px; 
    font-weight: bold; 
    color: rgb(200, 207, 97);
    
  }
.form textarea {
  width: 50%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #3f2501;
}
.form input[type="text"],
.form input[type="email"],
.form textarea{
  color: #3f2501;
}
.form button {
  background-color: #442304; /* Cambia el color de fondo del botón */
  color: white; /* Cambia el color del texto del botón */
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px; 
  
}
.form button:hover {
  background-color: #441e04; /* Cambia el color de fondo al pasar el mouse */
}
.formH:hover{
  color: black;
  background-color: rgb(200, 207, 97);
  border-radius: 10px;
}


  /* Estilos de pie de página en pantallas más grandes */
  footer .container {
      justify-content: flex-end;
  }
}

/* Estilos adicionales para pantallas aún más grandes (media query) */
@media (min-width: 1200px) {
  /* Ajusta el fondo de la sección "comohacercafe" en pantallas muy grandes */
  #comohacercafe {
      background-position-x: left;
  }
}
